CREATE DATABASE [TIEUDUONG]
GO
USE [TIEUDUONG]
GO
/****** Object:  Table [dbo].[tieu_duong]    Script Date: 11/29/2020 8:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tieu_duong](
	[LAN_MANG_THAI] [int] NULL,
	[NONG_DO_DUONG_HUYET] [float] NULL,
	[HUYET_AP_TAM_TRUONG] [float] NULL,
	[DO_DAY_NEP_GAP_DA] [float] NULL,
	[Insulin_HUYET_THANH] [float] NULL,
	[CHI_SO_KHOI_CO_THE] [float] NULL,
	[PHA_HE_BENH_TIEU_DUONG] [float] NULL,
	[TUOI] [int] NULL,
	[KQ] [bit] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[tieu_duong] ([LAN_MANG_THAI], [NONG_DO_DUONG_HUYET], [HUYET_AP_TAM_TRUONG], [DO_DAY_NEP_GAP_DA], [Insulin_HUYET_THANH], [CHI_SO_KHOI_CO_THE], [PHA_HE_BENH_TIEU_DUONG], [TUOI], [KQ]) VALUES (6, 148, 72, 35, 0, 33.6, 0.627, 50, 1)
INSERT [dbo].[tieu_duong] ([LAN_MANG_THAI], [NONG_DO_DUONG_HUYET], [HUYET_AP_TAM_TRUONG], [DO_DAY_NEP_GAP_DA], [Insulin_HUYET_THANH], [CHI_SO_KHOI_CO_THE], [PHA_HE_BENH_TIEU_DUONG], [TUOI], [KQ]) VALUES (1, 85, 66, 29, 0, 26.6, 0.351, 31, 0)
INSERT [dbo].[tieu_duong] ([LAN_MANG_THAI], [NONG_DO_DUONG_HUYET], [HUYET_AP_TAM_TRUONG], [DO_DAY_NEP_GAP_DA], [Insulin_HUYET_THANH], [CHI_SO_KHOI_CO_THE], [PHA_HE_BENH_TIEU_DUONG], [TUOI], [KQ]) VALUES (8, 183, 64, 0, 0, 23.3, 0.672, 32, 1)
GO
